/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* IMAGE RESET */
img {
    max-width: 100%;
}

.container {
    width: 100%;
    height: 100vh;
    padding: 50px;
    background-color: black;
}

.grid {
    display: flex;
    width: calc(100% / 7);
}

.call {
    margin-right: 2px;
    margin-bottom: 5px;
    padding: 2px;
}