/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  img {
    max-width: 100%;
  }
  
  /* COMMON */
  body {
    font-family: sans-serif;
  }
  
  /* Layout */
  .wrapper {
    width: 100%;
    height: 100vh;
  
    /* Debug */
    background-color: lightblue;
  }
  
  /* MAIN */
  main {
    height: calc(100% - 100px);
    background-color: black;
    overflow-y: auto;
    /* Approccio con flex */
    display: flex;
    flex-direction: column;
  }
  
  .actions {
    text-align: right;
    padding: 0.5rem;
    /* Approccio con altezze fisse */
    /* height: 60px;
    line-height: 60px; */
  }
  
  .action-btn {
    background-color: gray;
    color: white;
    padding: 0.3rem;
    border-radius: 0.5rem;
    border: 1px solid gray;
  }
  
  .container {
    /* Approccio con altezze fisse */
    /* height: calc(100% - 60px); */
    /* Approccio con flex */
    flex-grow: 1;
    padding: 2rem 0;
    width: 80%;
    margin: 0 auto;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .col {
    width: calc(100% / 7);
    padding: 0.5rem;
  }
  
  .participant {
    position: relative;
    color: white;
  }
  
  .participant-name {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    padding: .5rem;
  }
  
  /* FOOTER */
  footer {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(33, 33, 33);
    color: white;
  }
  
  footer a {
    color: inherit;
    text-decoration: none;
  }
  
  footer ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 1rem;
  }
  
  footer ul a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
  }
  
  .footer-right {
    align-self: stretch;
  }
  
  .footer-right button {
    height: 100%;
    background-color: red;
    padding: 1rem;
  }

  .footer-center {
    margin-right: 200px;
  }